.basic_card { 
  position: fixed; 
  border: 2px solid var(--color-neutral-0);
  color: var(--color-neutral-0);
  border-radius: 4px;
  padding: 8px 30px;

  cursor: pointer;
  background-color: hsl(0deg 0% 95%) ;
}