/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --color-red: #FB464C;
  --color-green: #44CF6E;
  --color-orange: #E9973F;
  --color-yellow: #E0DE71;
  --color-cyan: #53DFDD;
  --color-blue: #027AFF;
  --color-purple: #A882FF;
  --color-pink: #FA99CD;

  --color-neutral-0: #1E1E1E;
  --color-neutral-1: #242424;
  --color-neutral-2: #262626;
  --color-neutral-25: #2A2A2A;
  --color-neutral-3: #363636;
  --color-neutral-35: #3F3F3F;
  --color-neutral-4: #555555;
  --color-neutral-5: #666666;
  --color-neutral-6: #999999;
  --color-neutral-7: #BABABA;
  --color-neutral-8: #DADADA;
}

/* Main => Creation Scene BackGround */

body { 
  width: 100vw;
  height: 100vh;
  background-image: 
  repeating-linear-gradient(to right, transparent 0 50px, var(--color-neutral-7) 50px 51px),
  repeating-linear-gradient(to bottom, transparent 0 50px, var(--color-neutral-7) 50px 51px);
  position: relative;
}